.Pasatiempos {
    text-align: center;
    background-color: beige;
}

hr{
        height: 3px; 
        background-color: cadetblue;
        text-align: center;
        border:none;
        margin: 20px auto;
        width: 80%;
    }

#FondoID {
    background: rosybrown;
}

.Clases {
    background: black;
}

h2.especifica {
    text-align: center;
    color: black;

}

nav a[href="PagSeries.html"]{
    background-color: #a176cf;
    border: 4px solid black;

}

#li {
    background-color: #a176cf;
    border: 5px solid black;
}

div p {
    background-color: rgb(125, 195, 145);
    border: double black;
}

header *{
    border: 5px inset greenyellow;

}