.Mispasatiempos {
        text-align: center;
        background-color: rgb(222, 227, 179);
    }
    
    hr{
        height: 3px; 
        background-color: cadetblue;
        text-align: center;
        border:none;
        margin: 20px auto;
        width: 80%;
    }

    h3{
        text-align: center;
    }

    li {
    background-color: #a176cf;
    border: 5px solid black;
}

#FondoID {
    background: rosybrown;
}

.Clases {
    background: black;
}

h2.especifica {
    text-align: center;
    color: black;

}

nav a[href="PagSeries.html"]{
    background-color: #a176cf;
    border: 4px solid black;

}

#li {
    background-color: #a176cf;
    border: 5px solid black;
}

div p {
    background-color: rgb(125, 195, 145);
    border: double black;
}

header *{
    border: 5px inset greenyellow;

}

div > p {
    background-color: rgb(21, 42, 146);
}

span + p {
    background-color: #a176cf;
}

span ~ p {
    background-color: #8d357e;
}



