#a02 { /*al pasar el cursor en sobre la opcion se  marque un recuadro negro */
    border: 1px solid #000000;
    background-color:lightseagreen;
    font-family: fantasy;
    color: rgb(21, 0, 141);
    font-size: 20px;
    box-shadow: 5px 10px 6px pink;
}