h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30vw;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input,select, button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

button {
    margin-top: 15px;
    color: rgb(16, 16, 16);
    border: none;
    cursor: pointer;
}

button {
    background-color: rgb(88, 158, 196);
}