body {
    background-color: #070707; 
    font-family: Arial, sans-serif;
    color: #ffffff;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    background-color: #2d2dcf; 
    border-radius: 15px;
    padding: 20px;
    width: 200px; 
    text-align: center;
}

.item{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}