body{
    background-image: url(https://wallpapers.com/images/hd/venom-from-marvel-eyes-x7laveq2a3a9sn6j.jpg);
}

h1 {
  color: white;
  text-shadow: 2px 2px 5px black;
}

h2{
  color: white;
  text-shadow: 2px 2px 5px rgb(77, 139, 255); 
}
p{
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 5px black;
}

img{
    border: 20px solid rgb(14, 30, 173);
}

.contenedor{
    display: flex;
    justify-content:center;
    align-items:center;
}
