#a23 a {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(202, 235, 187); 
    background: linear-gradient(90deg, #4e74c7 0%, #55dbc5 100%);
    padding: 2px;
    text-shadow: 0 0 8px rgb(81, 17, 117), 0 0 12px blue;
}
