#a22 a {
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     color:rgb(210, 241, 33);
     background: linear-gradient(90deg, #cfd1c6 0%, #606464 100%);
     padding: 2px;
     
     }