#a39 {
    font-family: "Press Start 2P", monospace;
    font-size: 12px;
    background: #faecec;
    color: rgb(78, 1, 1);
    text-shadow: 2px 2px #ff00ff, -2px -2px #93f047, 2px -2px #00ffff, -2px 2px #ffff00;
}