.custom-star-link {
  color: #6a0dad;
  background-color: #ffe6f0;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 10px;
  display: inline-block;
}

.custom-star-link::before {
  content: "★";
  margin-right: 6px;
  color: #ffcf40;
}
