.a26 {
    color: red;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.a26:hover {
    color: rgb(16, 222, 16);
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}