.a26 {
    color: red;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.4s ease-in-out;
}

.a26:hover {
    color: rgb(16, 222, 16);
    font-family: 'Courier New', Courier, monospace;
    transform: scale(1.2);
    border: 6px dashed rgb(0, 0, 0) ;
}