.a26 {
    color: red;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.4s ease-in-out;
}

.a26:hover {
    color: rgb(16, 222, 16);
    font-family: 'Courier New', Courier, monospace;
    border-radius: 8px;
    border: 1px solid black;
    box-shadow: 5px 10px 3px black;
    transform: scale(1.2);
}