    .contenedor {
      display: flex;
      gap: 25px;
    }
   
   body {
      margin: 0;
      padding: 0;
      background-color: #101114;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      color: #7398d1;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .contenido {
      background-color: #14161a;
      padding: 40px 20px;
      border-radius: 12px;
      width: 140px;
      height: 200px;
      text-align: center;
      box-shadow: 0 4px 10px rgba(25, 22, 22, 0.3);
      transition: transform 0.2s ease;
    }

    .contenido:hover {
      transform: translateY(-5px);
    }

    .contenido img {
      width: 60px;
      height: 60px;
      margin-bottom: 20px;
    }

    .contenido h1 {
      margin: 0;
      font-size: 16px;
      font-weight: bold;
      color: #7dd3fc; 
    }