/* SELECTOR UNIVERSAL Y DE ID*/
#links * {
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    font-size: medium;
    color: darkcyan;
}

/*SELECTOR DE TIPO*/
#tipopag1 p {
    border: 5px inset rgb(133, 215, 181);
}

/*SELECTOR DE CLASE*/
.clasepag1 {
    border: 5px double rgb(128, 188, 146);
    background-color: rgb(196, 232, 207);
}

.clasepag2 {
    border: 5px double rgb(154, 96, 176);
    background-color: rgb(210, 165, 228);
}

.clasepag3 {
    border: 5px double rgb(204, 116, 157);
    background-color: rgb(242, 174, 206);
}

.clasepag4 {
    border: 5px double rgb(197, 191, 125);
    background-color: rgb(234, 229, 178);
}

.clasepag5 {
    border: 5px double rgb(164, 146, 214);
    background-color: rgb(217, 203, 255);
}

/*SLECTOR DE LISTA*/
#atributo1 p {
    font-style: oblique;
    background-color: rgb(222, 172, 210);
}

/*SELECTOR DE ATRIBUTO*/
#atributo2 [href *= "com"] {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    color: darkmagenta;
}

/*SELECTOR DE DESCENDIENTES*/
#selectorpag4 p {
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(97, 59, 59);
}

/*SELECTOR DE HIJOS DIRECTOS*/
#selectorpag4 > p {
    border-right: 5px solid rgb(157, 104, 104);
    box-shadow: 5px 7px rgb(157, 104, 104);
}

/*SELECTOR DE HERMANO ADYACENTE*/
.titulo2 + h3 {
    border: 5px double rgb(112, 158, 189);
    background-color: rgb(173, 213, 240);
}