/* SELECTOR UNIVERSAL (y el id es por #) */
#links * {
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    font-size: medium;
    color: darkcyan;
}

/*SELECTOR DE TIPO*/
#tipopag1 p {
    border: 5px inset rgb(133, 215, 181);
}