.h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: hsl(240,50%,90%);
    text-align: center;
}

.h2 {
    border-radius: 10px;
    border: 1px solid #476EAE;
    box-shadow: 5px 10px #476EAE;
    text-align: center;
}