#menu {
    background-color: rgb(245, 243, 229);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

section {
    background-color: gainsboro;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.videojuegos {
    background-color: rgb(253, 217, 176);
}

.musica {
    background-color: rgb(179, 212, 204);
}

.peliculas {
    background-color: rgb(221, 191, 255);
}

.deportes {
    background-color: rgb(197, 161, 161);
}

.categoria {
    color: rgb(0, 0, 0);  
    font-weight: bold;
}

input[type="submit"] {
      font-family: "Press Start 2P", monospace;
      font-size: 12px;
      color: rgb(29, 29, 29);
      background: #ffffffe1;
      border: 3px solid #888888;
      padding: 10px 15px;
      cursor: pointer;
      text-transform: uppercase;
      box-shadow: 
        0 0 0 4px #3d3d3d,
        4px 4px 0 #2b2b2b;
      transition: all 0.1s ease-in;
}

input[type="submit"]:hover {
    transform: scale(1.1);
    background: #e0e0e0;
}

input[type="submit"]:active {
    transform: scale(0.95);
    box-shadow: 
        0 0 0 2px #2b2b2b,
        2px 2px 0 #1a1a1a;
}

body {
    text-align: center; 
    margin: 0; 
    font-family: Arial, sans-serif;
    border: 10px solid rgb(229, 228, 226);
}

* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.mas {
    background-color: rgb(182, 167, 136);
}

.fecha {
    position: absolute;
    right: 950px; 
    bottom: 520px; 
    margin: 0;
}


h1 + p {
    background-color: rgb(233, 233, 233);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: block;
    margin-top: -10px;
}


header > h1 {
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 20px;   
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    text-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.1); 
    font-family: fantasy;
}

header.peliculas_series {
    color: blueviolet;
    font-family: 'Arial Black', sans-serif;
}

header.videojuegos_ {
    color: darkorange;
    font-family: 'Arial Black', sans-serif;
}

header.musica_ {
    color: darkcyan;
    font-family: 'Arial Black', sans-serif;
}
header.inicio {
    color: rgba(2, 112, 2, 0.767);
    font-family: 'Arial Black', sans-serif;
}
header.deportes_ {
    color: brown;
    font-family: 'Arial Black', sans-serif;
}

header > p {
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 20px;
}
h3~p {
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 20px;
    background-color: rgb(202, 191, 191);
    padding: 10px;
}

aside, footer {
   font-style: italic;
}

ul p {
    font-style: normal;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: white;
    color:rgba(89, 89, 89, 0.686)
}

h4+p {
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 20px;
    color: rgb(19, 3, 35);
    padding: 10px;
}