.titulos {
    text-align: center;
    font-size: 32px;
    color: aliceblueS;
     
}

nav ul {
    display: flex; 
    justify-content: center;
    align-items: center; 
    list-style: none; 
    padding: 0; 
    margin: 0; 
    gap: 30px; 
    font-size: 26px; 
}

nav div {
    margin-right: 20px; 
}

nav li {
    display: inline-block; 
}

nav a {
    text-decoration: none; 
    color: #0066cc; 
}
.con {
    position: relative;
    top: 25%;
    left: 35%;
    width: 80%; 
    height: 300px;
}
 
.imagen-centrada {
    max-width: 40%; 
     height: auto;
}        

.parrafo {
    position: relative;
    top: 150px; 
    place-items: center;
    font-size: 30px;
    color: aliceblue;
}        

body {
    background: url('cont/fondo1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

main ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

main ul li {
    display: inline-block;
    margin: 15px;
    vertical-align: middle;
}